<% if @photos %>
<div class="row">
  <div class="col-lg-10 pull-right">
    <% @photos.each do |photo| %>
      <div class="col-lg-3 pull-right">
        <div class="panel panel-default">
          <div class="panel-heading preview">
            <%= image_tag photo.image.url() %>
          </div>
          <div class="panel-body">
            <span class="pull-right">
              <%= link_to photo, remote: true, method: :delete,  data: { confirm: 'Are you sure?' } do %>
                <i class="mdi-navigation-close"></i>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
<% end %>
